# Pandas

In [4]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### 1

In [5]:
s1 = Series([1, 2, 3, 4, 5])

In [6]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
type(s1)

pandas.core.series.Series

In [8]:
s1.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
s1.values

array([1, 2, 3, 4, 5], dtype=int64)

### 2

In [14]:
s2 = Series(np.arange(0, 11, 1))

In [15]:
s2

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int32

In [16]:
s2.index

RangeIndex(start=0, stop=11, step=1)

In [17]:
s2.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

### 3

In [18]:
s3 = Series({'A': '16205131', 'B': '16205132', 'C': '16205133', 'D': '16205134'})

In [19]:
s3

A    16205131
B    16205132
C    16205133
D    16205134
dtype: object

In [20]:
s3.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [21]:
s3.values

array(['16205131', '16205132', '16205133', '16205134'], dtype=object)

### 4

In [22]:
s4 = Series(['Kaiyue Zheng', 'Yu Hong', 'Kai Luo', 'Yueshun Yuan'], index=['16205131', '16205132', '16205133', '16205134'])

In [23]:
s4

16205131    Kaiyue Zheng
16205132         Yu Hong
16205133         Kai Luo
16205134    Yueshun Yuan
dtype: object

In [24]:
s4.index

Index(['16205131', '16205132', '16205133', '16205134'], dtype='object')

In [25]:
s4.values

array(['Kaiyue Zheng', 'Yu Hong', 'Kai Luo', 'Yueshun Yuan'], dtype=object)

### 5

In [26]:
s4

16205131    Kaiyue Zheng
16205132         Yu Hong
16205133         Kai Luo
16205134    Yueshun Yuan
dtype: object

In [27]:
s4['16205134']

'Yueshun Yuan'

### 6

In [28]:
s4

16205131    Kaiyue Zheng
16205132         Yu Hong
16205133         Kai Luo
16205134    Yueshun Yuan
dtype: object

In [29]:
dict1 = s4.to_dict()
dict1

{'16205131': 'Kaiyue Zheng',
 '16205132': 'Yu Hong',
 '16205133': 'Kai Luo',
 '16205134': 'Yueshun Yuan'}

### 7

In [30]:
s4

16205131    Kaiyue Zheng
16205132         Yu Hong
16205133         Kai Luo
16205134    Yueshun Yuan
dtype: object

In [31]:
s5 = Series(s4, index=['16205131', '16205132', '16205133', '16205134', '16205135'])

In [32]:
s5

16205131    Kaiyue Zheng
16205132         Yu Hong
16205133         Kai Luo
16205134    Yueshun Yuan
16205135             NaN
dtype: object

### 8

In [33]:
pd.isnull(s5)

16205131    False
16205132    False
16205133    False
16205134    False
16205135     True
dtype: bool

In [34]:
pd.notnull(s5)

16205131     True
16205132     True
16205133     True
16205134     True
16205135    False
dtype: bool