# Pandas

In [7]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### 1

In [9]:
df1 = pd.read_clipboard()
df1

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary          OpenDocument      read_excel
6       binary           HDF5 Format        read_hdf        to_hdf
7       binary        Feather Format    read_feather    to_feather
8       binary        Parquet Format    read_parquet    to_parquet
9       binary               Msgpack    read_msgpack    to_msgpack
10      binary                 Stata      read_stata      to_stata
11      binary                   SAS        read_sas
12      binary  Python Pickle Format     read_pickle     to_pickle
13         SQL                   SQL        read_sql        to_sql
14         SQL      Google Big Query        read_gbq        to_gbq

In [10]:
df1.to_clipboard()

	Format Type	Data Description	Reader	Writer
0	text	CSV	read_csv	to_csv
1	text	JSON	read_json	to_json
2	text	HTML	read_html	to_html
3	text	Local clipboard	read_clipboard	to_clipboard
4	binary	MS Excel	read_excel	to_excel
5	binary	OpenDocument	read_excel	 
6	binary	HDF5 Format	read_hdf	to_hdf
7	binary	Feather Format	read_feather	to_feather
8	binary	Parquet Format	read_parquet	to_parquet
9	binary	Msgpack	read_msgpack	to_msgpack
10	binary	Stata	read_stata	to_stata
11	binary	SAS	read_sas	 
12	binary	Python Pickle Format	read_pickle	to_pickle
13	SQL	SQL	read_sql	to_sql
14	SQL	Google Big Query	read_gbq	to_gbq

### 2

In [11]:
df1

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary          OpenDocument      read_excel
6       binary           HDF5 Format        read_hdf        to_hdf
7       binary        Feather Format    read_feather    to_feather
8       binary        Parquet Format    read_parquet    to_parquet
9       binary               Msgpack    read_msgpack    to_msgpack
10      binary                 Stata      read_stata      to_stata
11      binary                   SAS        read_sas
12      binary  Python Pickle Format     read_pickle     to_pickle
13         SQL                   SQL        read_sql        to_sql
14         SQL      Google Big Query        read_gbq        to_gbq

In [12]:
df1.to_csv('datasource\\df1_1.csv')

In [13]:
# 注意：多出了一列

df2 = pd.read_csv('datasource\\df1_1.csv')
df2

    Unnamed: 0 Format Type      Data Description          Reader        Writer
0            0        text                   CSV        read_csv        to_csv
1            1        text                  JSON       read_json       to_json
2            2        text                  HTML       read_html       to_html
3            3        text       Local clipboard  read_clipboard  to_clipboard
4            4      binary              MS Excel      read_excel      to_excel
5            5      binary          OpenDocument      read_excel
6            6      binary           HDF5 Format        read_hdf        to_hdf
7            7      binary        Feather Format    read_feather    to_feather
8            8      binary        Parquet Format    read_parquet    to_parquet
9            9      binary               Msgpack    read_msgpack    to_msgpack
10          10      binary                 Stata      read_stata      to_stata
11          11      binary                   SAS        read_sas
12          12      binary  Python Pickle Format     read_pickle     to_pickle
13          13         SQL                   SQL        read_sql        to_sql
14          14         SQL      Google Big Query        read_gbq        to_gbq

In [17]:
df1.to_csv('datasource\\df1_2.csv', index=False)

In [16]:
df3 = pd.read_csv('datasource\\df1_2.csv')
df3

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary          OpenDocument      read_excel
6       binary           HDF5 Format        read_hdf        to_hdf
7       binary        Feather Format    read_feather    to_feather
8       binary        Parquet Format    read_parquet    to_parquet
9       binary               Msgpack    read_msgpack    to_msgpack
10      binary                 Stata      read_stata      to_stata
11      binary                   SAS        read_sas
12      binary  Python Pickle Format     read_pickle     to_pickle
13         SQL                   SQL        read_sql        to_sql
14         SQL      Google Big Query        read_gbq        to_gbq

### 3

In [18]:
df1

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary          OpenDocument      read_excel
6       binary           HDF5 Format        read_hdf        to_hdf
7       binary        Feather Format    read_feather    to_feather
8       binary        Parquet Format    read_parquet    to_parquet
9       binary               Msgpack    read_msgpack    to_msgpack
10      binary                 Stata      read_stata      to_stata
11      binary                   SAS        read_sas
12      binary  Python Pickle Format     read_pickle     to_pickle
13         SQL                   SQL        read_sql        to_sql
14         SQL      Google Big Query        read_gbq        to_gbq

In [21]:
json_str = df1.to_json()
json_str

'{"Format Type":{"0":"text","1":"text","2":"text","3":"text","4":"binary","5":"binary","6":"binary","7":"binary","8":"binary","9":"binary","10":"binary","11":"binary","12":"binary","13":"SQL","14":"SQL"},"Data Description":{"0":"CSV","1":"JSON","2":"HTML","3":"Local clipboard","4":"MS Excel","5":"OpenDocument","6":"HDF5 Format","7":"Feather Format","8":"Parquet Format","9":"Msgpack","10":"Stata","11":"SAS","12":"Python Pickle Format","13":"SQL","14":"Google Big Query"},"Reader":{"0":"read_csv","1":"read_json","2":"read_html","3":"read_clipboard","4":"read_excel","5":"read_excel","6":"read_hdf","7":"read_feather","8":"read_parquet","9":"read_msgpack","10":"read_stata","11":"read_sas","12":"read_pickle","13":"read_sql","14":"read_gbq"},"Writer":{"0":"to_csv","1":"to_json","2":"to_html","3":"to_clipboard","4":"to_excel","5":" ","6":"to_hdf","7":"to_feather","8":"to_parquet","9":"to_msgpack","10":"to_stata","11":" ","12":"to_pickle","13":"to_sql","14":"to_gbq"}}'

In [22]:
df4 = pd.read_json(json_str)
df4

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary          OpenDocument      read_excel
6       binary           HDF5 Format        read_hdf        to_hdf
7       binary        Feather Format    read_feather    to_feather
8       binary        Parquet Format    read_parquet    to_parquet
9       binary               Msgpack    read_msgpack    to_msgpack
10      binary                 Stata      read_stata      to_stata
11      binary                   SAS        read_sas
12      binary  Python Pickle Format     read_pickle     to_pickle
13         SQL                   SQL        read_sql        to_sql
14         SQL      Google Big Query        read_gbq        to_gbq

### 4

In [23]:
df1

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary          OpenDocument      read_excel
6       binary           HDF5 Format        read_hdf        to_hdf
7       binary        Feather Format    read_feather    to_feather
8       binary        Parquet Format    read_parquet    to_parquet
9       binary               Msgpack    read_msgpack    to_msgpack
10      binary                 Stata      read_stata      to_stata
11      binary                   SAS        read_sas
12      binary  Python Pickle Format     read_pickle     to_pickle
13         SQL                   SQL        read_sql        to_sql
14         SQL      Google Big Query        read_gbq        to_gbq

In [24]:
df1.to_html('datasource\\df1_3.html')

In [25]:
df1.to_html('datasource\\df1_4.html', index=False)

### 5

In [26]:
df1

   Format Type      Data Description          Reader        Writer
0         text                   CSV        read_csv        to_csv
1         text                  JSON       read_json       to_json
2         text                  HTML       read_html       to_html
3         text       Local clipboard  read_clipboard  to_clipboard
4       binary              MS Excel      read_excel      to_excel
5       binary          OpenDocument      read_excel
6       binary           HDF5 Format        read_hdf        to_hdf
7       binary        Feather Format    read_feather    to_feather
8       binary        Parquet Format    read_parquet    to_parquet
9       binary               Msgpack    read_msgpack    to_msgpack
10      binary                 Stata      read_stata      to_stata
11      binary                   SAS        read_sas
12      binary  Python Pickle Format     read_pickle     to_pickle
13         SQL                   SQL        read_sql        to_sql
14         SQL      Google Big Query        read_gbq        to_gbq

In [28]:
df1.to_excel('datasource\\df1_5.xlsx')

In [29]:
df1.to_excel('datasource\\df1_6.xlsx', index=False)