# Pandas

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = pd.read_csv('datasource\\movie_metadata.csv')

In [3]:
df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

### 1

In [6]:
df.shape

(5043, 28)

### 2

In [8]:
df1 = df.head()
df1

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [9]:
df2 = df.tail()
df2

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [10]:
df3 = df.head(10)
df3

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0
7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000
8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,Adventure|Family|Fantasy|Mystery,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000

In [11]:
df4 = df.tail(10)
df4

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
5033,Color,Shane Carruth,143.0,77.0,291.0,8.0,David Sullivan,291.0,424760.0,Drama|Sci-Fi|Thriller,...,371.0,English,USA,PG-13,7000.0,2004.0,45.0,7.0,1.85,19000
5034,Color,Neill Dela Llana,35.0,80.0,0.0,0.0,Edgar Tancangco,0.0,70071.0,Thriller,...,35.0,English,Philippines,Not Rated,7000.0,2005.0,0.0,6.3,NaN,74
5035,Color,Robert Rodriguez,56.0,81.0,0.0,6.0,Peter Marquardt,121.0,2040920.0,Action|Crime|Drama|Romance|Thriller,...,130.0,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.37,0
5036,Color,Anthony Vallone,NaN,84.0,2.0,2.0,John Considine,45.0,NaN,Crime|Drama,...,1.0,English,USA,PG-13,3250.0,2005.0,44.0,7.8,NaN,4
5037,Color,Edward Burns,14.0,95.0,0.0,133.0,Caitlin FitzGerald,296.0,4584.0,Comedy|Drama,...,14.0,English,USA,Not Rated,9000.0,2011.0,205.0,6.4,NaN,413
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

### 3

In [13]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [15]:
df5 = df[['movie_title', 'director_name', 'country', 'language', 'imdb_score']]
df5

,movie_title,director_name,country,language,imdb_score
0,Avatar,James Cameron,USA,English,7.9
1,Pirates of the Caribbean: At World's End,Gore Verbinski,USA,English,7.1
2,Spectre,Sam Mendes,UK,English,6.8
3,The Dark Knight Rises,Christopher Nolan,USA,English,8.5
4,Star Wars: Episode VII - The Force Awakens ...,Doug Walker,NaN,NaN,7.1
...,...,...,...,...,...
5038,Signed Sealed Delivered,Scott Smith,Canada,English,7.7
5039,The Following,NaN,USA,English,7.5
5040,A Plague So Pleasant,Benjamin Roberds,USA,English,6.3
5041,Shanghai Calling,Daniel Hsia,USA,English,6.3
5042,My Date with Drew,Jon Gunn,USA,English,6.6

In [16]:
# iloc 基于的是当下的 DataFrame 的 索引（跟数组似的，自0开始）

df6 = df5.iloc[:, :]
df6

,movie_title,director_name,country,language,imdb_score
0,Avatar,James Cameron,USA,English,7.9
1,Pirates of the Caribbean: At World's End,Gore Verbinski,USA,English,7.1
2,Spectre,Sam Mendes,UK,English,6.8
3,The Dark Knight Rises,Christopher Nolan,USA,English,8.5
4,Star Wars: Episode VII - The Force Awakens ...,Doug Walker,NaN,NaN,7.1
...,...,...,...,...,...
5038,Signed Sealed Delivered,Scott Smith,Canada,English,7.7
5039,The Following,NaN,USA,English,7.5
5040,A Plague So Pleasant,Benjamin Roberds,USA,English,6.3
5041,Shanghai Calling,Daniel Hsia,USA,English,6.3
5042,My Date with Drew,Jon Gunn,USA,English,6.6

In [19]:
df7 = df5.iloc[10:16, :]
df7

,movie_title,director_name,country,language,imdb_score
10,Batman v Superman: Dawn of Justice,Zack Snyder,USA,English,6.9
11,Superman Returns,Bryan Singer,USA,English,6.1
12,Quantum of Solace,Marc Forster,UK,English,6.7
13,Pirates of the Caribbean: Dead Man's Chest,Gore Verbinski,USA,English,7.3
14,The Lone Ranger,Gore Verbinski,USA,English,6.5
15,Man of Steel,Zack Snyder,USA,English,7.2

In [21]:
df8 = df5.iloc[:, 0:2]
df8

                                            movie_title      director_name
0                                               Avatar       James Cameron
1             Pirates of the Caribbean: At World's End      Gore Verbinski
2                                              Spectre          Sam Mendes
3                                The Dark Knight Rises   Christopher Nolan
4     Star Wars: Episode VII - The Force Awakens    ...        Doug Walker
...                                                 ...                ...
5038                           Signed Sealed Delivered         Scott Smith
5039                         The Following                             NaN
5040                              A Plague So Pleasant    Benjamin Roberds
5041                                  Shanghai Calling         Daniel Hsia
5042                                 My Date with Drew            Jon Gunn

[5043 rows x 2 columns]

In [22]:
df9 = df5.iloc[0:11, 0:2]
df9

                                          movie_title      director_name
0                                             Avatar       James Cameron
1           Pirates of the Caribbean: At World's End      Gore Verbinski
2                                            Spectre          Sam Mendes
3                              The Dark Knight Rises   Christopher Nolan
4   Star Wars: Episode VII - The Force Awakens    ...        Doug Walker
5                                        John Carter      Andrew Stanton
6                                       Spider-Man 3           Sam Raimi
7                                            Tangled        Nathan Greno
8                            Avengers: Age of Ultron         Joss Whedon
9             Harry Potter and the Half-Blood Prince         David Yates
10                Batman v Superman: Dawn of Justice         Zack Snyder

In [23]:
df10 = df9.iloc[1:6, 0:1]
df10

                                         movie_title
1          Pirates of the Caribbean: At World's End
2                                           Spectre
3                             The Dark Knight Rises
4  Star Wars: Episode VII - The Force Awakens    ...
5                                       John Carter

### 4

In [24]:
df5

,movie_title,director_name,country,language,imdb_score
0,Avatar,James Cameron,USA,English,7.9
1,Pirates of the Caribbean: At World's End,Gore Verbinski,USA,English,7.1
2,Spectre,Sam Mendes,UK,English,6.8
3,The Dark Knight Rises,Christopher Nolan,USA,English,8.5
4,Star Wars: Episode VII - The Force Awakens ...,Doug Walker,NaN,NaN,7.1
...,...,...,...,...,...
5038,Signed Sealed Delivered,Scott Smith,Canada,English,7.7
5039,The Following,NaN,USA,English,7.5
5040,A Plague So Pleasant,Benjamin Roberds,USA,English,6.3
5041,Shanghai Calling,Daniel Hsia,USA,English,6.3
5042,My Date with Drew,Jon Gunn,USA,English,6.6

In [25]:
# iloc 基于的是当下的 DataFrame 的 label（显示出来的行、列）

df11 = df5.loc[17:22, :]
df11

,movie_title,director_name,country,language,imdb_score
17,The Avengers,Joss Whedon,USA,English,8.1
18,Pirates of the Caribbean: On Stranger Tides,Rob Marshall,USA,English,6.7
19,Men in Black 3,Barry Sonnenfeld,USA,English,6.8
20,The Hobbit: The Battle of the Five Armies,Peter Jackson,New Zealand,English,7.5
21,The Amazing Spider-Man,Marc Webb,USA,English,7.0
22,Robin Hood,Ridley Scott,USA,English,6.7

In [26]:
df12 = df5.loc[17:22, 'movie_title':'language']
df12

,movie_title,director_name,country,language
17,The Avengers,Joss Whedon,USA,English
18,Pirates of the Caribbean: On Stranger Tides,Rob Marshall,USA,English
19,Men in Black 3,Barry Sonnenfeld,USA,English
20,The Hobbit: The Battle of the Five Armies,Peter Jackson,New Zealand,English
21,The Amazing Spider-Man,Marc Webb,USA,English
22,Robin Hood,Ridley Scott,USA,English

In [28]:
df13 = df5.loc[17:22, ['movie_title', 'country', 'imdb_score']]
df13

                                     movie_title      country  imdb_score
17                                 The Avengers           USA         8.1
18  Pirates of the Caribbean: On Stranger Tides           USA         6.7
19                               Men in Black 3           USA         6.8
20    The Hobbit: The Battle of the Five Armies   New Zealand         7.5
21                       The Amazing Spider-Man           USA         7.0
22                                   Robin Hood           USA         6.7