# Pandas

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### 1

In [2]:
s1 = Series([1, 2, 3, 4, 5, 6], index=[['A', 'A', 'A', 'B', 'B', 'B'], ['x', 'y', 'z', 'x', 'y', 'z']])
s1

A  x    1
   y    2
   z    3
B  x    4
   y    5
   z    6
dtype: int64

### 2

In [6]:
s1

A  x    1
   y    2
   z    3
B  x    4
   y    5
   z    6
dtype: int64

In [3]:
s1['A']

x    1
y    2
z    3
dtype: int64

In [4]:
type(s1['A'])

pandas.core.series.Series

### 3

In [7]:
s1

A  x    1
   y    2
   z    3
B  x    4
   y    5
   z    6
dtype: int64

In [8]:
s1['B']['x']

4

### 4

In [9]:
s1

A  x    1
   y    2
   z    3
B  x    4
   y    5
   z    6
dtype: int64

In [10]:
s1[:, 'y']

A    2
B    5
dtype: int64

In [11]:
type(s1[:, 'y'])

pandas.core.series.Series

### 5

In [12]:
s1

A  x    1
   y    2
   z    3
B  x    4
   y    5
   z    6
dtype: int64

In [13]:
df1 = s1.unstack()
df1

   x  y  z
A  1  2  3
B  4  5  6

### 6

In [14]:
df2 = DataFrame([s1['A'], s1['B']])
df2

   x  y  z
0  1  2  3
1  4  5  6

In [15]:
df3 = DataFrame({'A': s1['A'], 'B': s1['B']})
df3

   A  B
x  1  4
y  2  5
z  3  6

In [20]:
df4 = DataFrame([s1['A'], s1['B']], index=['A', 'B'])
df4

   x  y  z
A  1  2  3
B  4  5  6

### 7

In [21]:
df1

   x  y  z
A  1  2  3
B  4  5  6

In [22]:
s2 = df1.unstack()
s2

x  A    1
   B    4
y  A    2
   B    5
z  A    3
   B    6
dtype: int64

In [23]:
s3 = df1.T.unstack()
s3

A  x    1
   y    2
   z    3
B  x    4
   y    5
   z    6
dtype: int64

### 8