# Pandas

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### 1

In [2]:
df1 = DataFrame({'城市': ['北京', '上海', '广州'], 
                 '所属省/直辖市': ['北京市', '上海市', '广东省'], 
                 '简称': ['京', '沪', '粤']})
df1

   城市 所属省/直辖市 简称
0  北京     北京市  京
1  上海     上海市  沪
2  广州     广东省  粤

### 2

In [3]:
df1

   城市 所属省/直辖市 简称
0  北京     北京市  京
1  上海     上海市  沪
2  广州     广东省  粤

In [11]:
df2 = df1.reindex(columns=['城市', '所属省/直辖市', '简称', '人口数'])
df2['人口数'] = [1000, 2000, 1500]
df2

   城市 所属省/直辖市 简称   人口数
0  北京     北京市  京  1000
1  上海     上海市  沪  2000
2  广州     广东省  粤  1500

### 3

In [12]:
df1

   城市 所属省/直辖市 简称
0  北京     北京市  京
1  上海     上海市  沪
2  广州     广东省  粤

In [15]:
df3 = df1.reindex(columns=['城市', '所属省/直辖市', '简称'])
df3['人口数'] = Series([1000, 2000, 1500])
df3

   城市 所属省/直辖市 简称   人口数
0  北京     北京市  京  1000
1  上海     上海市  沪  2000
2  广州     广东省  粤  1500

### 4

In [16]:
df4 = DataFrame({'城市': ['北京', '上海', '广州'], 
                 '所属省/直辖市': ['北京市', '上海市', '广东省'], 
                 '简称': ['京', '沪', '粤']}, index=['A', 'B', 'C'])
df4

   城市 所属省/直辖市 简称
A  北京     北京市  京
B  上海     上海市  沪
C  广州     广东省  粤

In [17]:
df5 = df4.reindex(columns=['城市', '所属省/直辖市', '简称'])
df5

   城市 所属省/直辖市 简称
A  北京     北京市  京
B  上海     上海市  沪
C  广州     广东省  粤

In [18]:
df5['人口数'] = Series([1000, 2000, 1500])
df5

   城市 所属省/直辖市 简称  人口数
A  北京     北京市  京  NaN
B  上海     上海市  沪  NaN
C  广州     广东省  粤  NaN

### 5

In [19]:
df4

   城市 所属省/直辖市 简称
A  北京     北京市  京
B  上海     上海市  沪
C  广州     广东省  粤

In [20]:
df6 = df4.reindex(columns=['城市', '所属省/直辖市', '简称'])
df6

   城市 所属省/直辖市 简称
A  北京     北京市  京
B  上海     上海市  沪
C  广州     广东省  粤

In [21]:
df6['人口数'] = Series({'A': 1000, 'B': 2000, 'C':1500})
# 等价于 df6['人口数'] = Series([1000, 2000, 3000], index=['A', 'B', 'C'])
df6

   城市 所属省/直辖市 简称   人口数
A  北京     北京市  京  1000
B  上海     上海市  沪  2000
C  广州     广东省  粤  1500

### 6

In [22]:
df4

   城市 所属省/直辖市 简称
A  北京     北京市  京
B  上海     上海市  沪
C  广州     广东省  粤

In [23]:
df7 = df4.reindex(columns=['城市', '所属省/直辖市', '简称'])
df7

   城市 所属省/直辖市 简称
A  北京     北京市  京
B  上海     上海市  沪
C  广州     广东省  粤

In [24]:
person_count1 = {'北京': 1000, '广州': 1500, '上海': 2000}
df7['人口数'] = df7['城市'].map(person_count1)
df7

   城市 所属省/直辖市 简称   人口数
A  北京     北京市  京  1000
B  上海     上海市  沪  2000
C  广州     广东省  粤  1500

### 7

In [25]:
s1 = Series(np.arange(10))
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

In [26]:
s2 = s1.replace(0, np.nan)
s2

0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [27]:
s3 = s1.replace({0: np.nan, 2: 'x', 4: 'y'})
s3

0    NaN
1      1
2      x
3      3
4      y
5      5
6      6
7      7
8      8
9      9
dtype: object

In [28]:
s4 = s1.replace([1, 3, 5, 7, 9], np.nan)
s4

0    0.0
1    NaN
2    2.0
3    NaN
4    4.0
5    NaN
6    6.0
7    NaN
8    8.0
9    NaN
dtype: float64

In [30]:
s5 = s1.replace([1, 3, 5, 7, 9], ['A', 'B', 'C', 'D', 'E'])
s5

0    0
1    A
2    2
3    B
4    4
5    C
6    6
7    D
8    8
9    E
dtype: object