# DataFrame Selecting and Indexing

### 准备

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
data_source = pd.read_csv('datasource\\movie_metadata.csv')

In [3]:
data_source

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

### 使用

In [4]:
# 1、查看 DataFrame 的大小
data_source.shape

(5043, 28)

In [5]:
# 2、显示前5行
data_source.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [6]:
# 3、显示后5行
data_source.tail()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [7]:
# 4、显示前 n 行
data_source.head(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0
7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000
8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,Adventure|Family|Fantasy|Mystery,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000

In [8]:
# 4、显示后 n 行
data_source.tail(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
5033,Color,Shane Carruth,143.0,77.0,291.0,8.0,David Sullivan,291.0,424760.0,Drama|Sci-Fi|Thriller,...,371.0,English,USA,PG-13,7000.0,2004.0,45.0,7.0,1.85,19000
5034,Color,Neill Dela Llana,35.0,80.0,0.0,0.0,Edgar Tancangco,0.0,70071.0,Thriller,...,35.0,English,Philippines,Not Rated,7000.0,2005.0,0.0,6.3,NaN,74
5035,Color,Robert Rodriguez,56.0,81.0,0.0,6.0,Peter Marquardt,121.0,2040920.0,Action|Crime|Drama|Romance|Thriller,...,130.0,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.37,0
5036,Color,Anthony Vallone,NaN,84.0,2.0,2.0,John Considine,45.0,NaN,Crime|Drama,...,1.0,English,USA,PG-13,3250.0,2005.0,44.0,7.8,NaN,4
5037,Color,Edward Burns,14.0,95.0,0.0,133.0,Caitlin FitzGerald,296.0,4584.0,Comedy|Drama,...,14.0,English,USA,Not Rated,9000.0,2011.0,205.0,6.4,NaN,413
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

<hr>

In [10]:
# 5、选取出一列
# 这里是前5行 director_name 的这一列
data_source.head()['director_name']

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [12]:
# 选取出多列，注意写法
# 这里是前5行 director_name 和 color 的这两列
data_source.head()[['color', 'director_name']]

   color      director_name
0  Color      James Cameron
1  Color     Gore Verbinski
2  Color         Sam Mendes
3  Color  Christopher Nolan
4    NaN        Doug Walker

<hr>

In [21]:
sub_data_source = data_source[['movie_title', 'director_name', 'imdb_score']]

In [22]:
sub_data_source.head()

,movie_title,director_name,imdb_score
0,Avatar,James Cameron,7.9
1,Pirates of the Caribbean: At World's End,Gore Verbinski,7.1
2,Spectre,Sam Mendes,6.8
3,The Dark Knight Rises,Christopher Nolan,8.5
4,Star Wars: Episode VII - The Force Awakens ...,Doug Walker,7.1

In [23]:
# 6、基于索引选取行/列
# iloc 的“[]”中的第一个参数是用来过滤行的，第二个参数是用来过滤列的，这两者可以使用“切片”的方法
# 注意，这个参数是索引，索引所对于的是此时此刻当前的 DataFrame 而言的

# 选取 10-19 行
sub_data_source.iloc[10:20, :]

                                     movie_title     director_name  imdb_score
10           Batman v Superman: Dawn of Justice        Zack Snyder         6.9
11                             Superman Returns       Bryan Singer         6.1
12                            Quantum of Solace       Marc Forster         6.7
13   Pirates of the Caribbean: Dead Man's Chest     Gore Verbinski         7.3
14                              The Lone Ranger     Gore Verbinski         6.5
15                                 Man of Steel        Zack Snyder         7.2
16     The Chronicles of Narnia: Prince Caspian     Andrew Adamson         6.6
17                                 The Avengers        Joss Whedon         8.1
18  Pirates of the Caribbean: On Stranger Tides       Rob Marshall         6.7
19                               Men in Black 3   Barry Sonnenfeld         6.8

In [26]:
sub_data_source.iloc[[10, 11, 13, 15], :]

                                    movie_title   director_name  imdb_score
10          Batman v Superman: Dawn of Justice      Zack Snyder         6.9
11                            Superman Returns     Bryan Singer         6.1
13  Pirates of the Caribbean: Dead Man's Chest   Gore Verbinski         7.3
15                                Man of Steel      Zack Snyder         7.2

In [27]:
sub_data_source.iloc[10:20, 0:3]

                                     movie_title     director_name  imdb_score
10           Batman v Superman: Dawn of Justice        Zack Snyder         6.9
11                             Superman Returns       Bryan Singer         6.1
12                            Quantum of Solace       Marc Forster         6.7
13   Pirates of the Caribbean: Dead Man's Chest     Gore Verbinski         7.3
14                              The Lone Ranger     Gore Verbinski         6.5
15                                 Man of Steel        Zack Snyder         7.2
16     The Chronicles of Narnia: Prince Caspian     Andrew Adamson         6.6
17                                 The Avengers        Joss Whedon         8.1
18  Pirates of the Caribbean: On Stranger Tides       Rob Marshall         6.7
19                               Men in Black 3   Barry Sonnenfeld         6.8

In [31]:
sub_data_source.iloc[10:20, [1, 2]]

       director_name  imdb_score
10       Zack Snyder         6.9
11      Bryan Singer         6.1
12      Marc Forster         6.7
13    Gore Verbinski         7.3
14    Gore Verbinski         6.5
15       Zack Snyder         7.2
16    Andrew Adamson         6.6
17       Joss Whedon         8.1
18      Rob Marshall         6.7
19  Barry Sonnenfeld         6.8

<hr>

In [32]:
# 7、基于标签选取行/列
# 对于行而言，label 是指最左侧的所添加出来的列的值（在之前的文档中，将这个称为“行索引”，实际上准确来讲应该是“行标签”）；
# 对于列而言，label 就是列名

sub_data_source.loc[0:4, :]

,movie_title,director_name,imdb_score
0,Avatar,James Cameron,7.9
1,Pirates of the Caribbean: At World's End,Gore Verbinski,7.1
2,Spectre,Sam Mendes,6.8
3,The Dark Knight Rises,Christopher Nolan,8.5
4,Star Wars: Episode VII - The Force Awakens ...,Doug Walker,7.1

In [34]:
sub_data_source.loc[0:4, 'movie_title']

0                                              Avatar
1            Pirates of the Caribbean: At World's End
2                                             Spectre
3                               The Dark Knight Rises
4    Star Wars: Episode VII - The Force Awakens    ...
Name: movie_title, dtype: object

In [35]:
sub_data_source.loc[0:4, ['movie_title', 'imdb_score']]

                                         movie_title  imdb_score
0                                            Avatar          7.9
1          Pirates of the Caribbean: At World's End          7.1
2                                           Spectre          6.8
3                             The Dark Knight Rises          8.5
4  Star Wars: Episode VII - The Force Awakens    ...         7.1