# 多级 Index

### 准备

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### Series

In [11]:
s1 = Series([1, 2, 3, 4, 5, 6], index=[['G1', 'G1', 'G1', 'G2', 'G2', 'G2'], ['No.1', 'No.2', 'No.3', 'No.1', 'No.2', 'No.3']])

In [12]:
s1

G1  No.1    1
    No.2    2
    No.3    3
G2  No.1    4
    No.2    5
    No.3    6
dtype: int64

In [13]:
s1['G1']

No.1    1
No.2    2
No.3    3
dtype: int64

In [15]:
s1['G2']['No.2']

5

In [24]:
s1['G2',]

No.1    4
No.2    5
No.3    6
dtype: int64

In [26]:
s1[:, 'No.1']

G1    1
G2    4
dtype: int64

In [29]:
s1[:, 'No.2']

G1    2
G2    5
dtype: int64

In [16]:
df1 = s1.unstack()

In [17]:
df1

    No.1  No.2  No.3
G1     1     2     3
G2     4     5     6

In [30]:
s2 = df1.unstack()

In [31]:
 s2

No.1  G1    1
      G2    4
No.2  G1    2
      G2    5
No.3  G1    3
      G2    6
dtype: int64

In [32]:
s2 = df1.T.unstack()

In [33]:
s2

G1  No.1    1
    No.2    2
    No.3    3
G2  No.1    4
    No.2    5
    No.3    6
dtype: int64

### DataFrame

#### 行多级

#### 列多级